* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --bigger-font: "Inter", sans-serif;
  --smaller-font: "Lexend Deca", sans-serif;
}
body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}
.card-image {
  background-color: hsl(277, 64%, 61%);
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  height: 300px;
}
.card-image > img {
  opacity: 0.5;
  object-fit: contain;
}
span {
  color: hsl(277, 64%, 61%);
}
.card-container {
  background: hsl(244, 38%, 16%);
  margin: 5rem 100px;
  border-radius: 10px;
}
.card-body {
  padding: 25px;
  display: flex;
  flex-direction: column;
}
.card-body h2,
h4 {
  text-align: center;
  font-family: var(--bigger-font);
  padding-bottom: 5px;
}
h2 {
  margin-bottom: 20px;
  font-size: 30px;
}
.card-body p {
  font-family: var(--smaller-font);
  font-size: 15px;
  text-align: center;
  margin-bottom: 20px;
  color: hsla(0, 0%, 100%, 0.5);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  .card-container {
    display: flex;
    margin: 200px 100px;
  }
  .card-image {
    order: 2;
    width: 50%;
    height: inherit;
  }
  .card-body {
    width: 50%;
    padding: 60px 150px 60px 60px;
  }
  .card-body > h2,
  .card-body > p {
    text-align: left;
  }
  .data {
    display: flex;
    justify-content: space-between;
  }
}
